/bin
/build
/test-output
/RunReports
/out
/logs
/target
/lib

#Gradle
/.gradle
.gradle

#Eclipse
.settings
/.settings
.classpath
.project

#Intellij
*.iml
/.idea
.idea

#Mac OS
*.DS_Store

#allure
.allure
lib/drivers/windows/chromedriver.exe

